<!DOCTYPE HTML>
<html>

<head>
  <title>HS Impact</title>
  <meta charset="utf-8" />
  <script>
    (function (d) {
      var config = {
        kitId: 'cdk6rxa',
        scriptTimeout: 3000,
        async: true
      },
        h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="https://hs-impact.herokuapp.com/css/main.css" />
  <link rel="stylesheet" href="https://hs-impact.herokuapp.com/css/top.css" />
  <link rel="stylesheet" href="https://hs-impact.herokuapp.com/css/font-awesome.min.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
</head>
{{#if isHomePage}}

<body class="landing">

  <div id="page-wrapper">
    <!-- Header -->
    <header id="header" class="alt">
      {{else}}

      <body>
        <div id="page-wrapper">
          <!-- Header -->
          <header id="header">
            {{/if}}
            <div id="fb-root"></div>
            <div id="fb-root"></div>
            <script>
              (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1981422115412589";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            </script>
            <nav id="nav">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                {{#if isSignedIn}}
                <li>
                  <a href="#" class="icon fa-angle-down"><span>{{currentUserName.first}}</span><img src="https://hs-impact.herokuapp.com/img/blank_avatar.png" alt="Profile Pic" id="nav-profile-img" /></a>
                  <ul>
                    <li class="nav-submenu-li"><a href="/profile">Profile</a></li>
                    <li class="nav-submenu-li"><a href="/inbox">Inbox</a></li>
                    <li class="nav-submenu-li"><a href="/settings">Settings</a></li>
                  </ul>
                </li>
                <li><a href="/auth/logout" class="button">Log Out</a></li>
                {{else}}
                <li><a href="/signup" class="button">Sign Up</a></li>
                <li><a href="/login" class="button">Log In</a></li>
                {{/if}}
              </ul>
            </nav>
          </header>
          {{#if error_msg}}
          <div class="msg error">
            <h1>{{error_msg}}</h1>
          </div>
          {{/if}} {{#if success_msg}}
          <div class="msg success">
            <h1>{{success_msg}}</h1>
          </div>
          {{/if}} {{{body}}}

          <!-- Footer -->
          <footer id="footer">
            <ul class="icons">
              <li><a href="https://www.facebook.com/highschoolimpact" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://www.instagram.com/hsimpact/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
            <ul class="copyright">
              <li>Copyright &copy; 2017 HS Imapct</li>
              <li><a href="/legal/terms">Terms of Use</a></li>
              <li><a href="/legal/privacy">Privacy Policy</a></li>
              <li><a href="/terms">Site Map</a></li>
            </ul>
          </footer>

        </div>
        <!-- Scripts -->
        <script src="https://hs-impact.herokuapp.com/js/jquery.min.js"></script>
        <script src="https://hs-impact.herokuapp.com/js/jquery.dropotron.min.js"></script>
        <script src="https://hs-impact.herokuapp.com/js/jquery.scrollgress.min.js"></script>
        <script src="https://hs-impact.herokuapp.com/js/skel.min.js"></script>
        <script src="https://hs-impact.herokuapp.com/js/util.js"></script>
        <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
        <script src="https://hs-impact.herokuapp.com/js/main.js"></script>

      </body>

</html>